body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    font-family: Arial, sans-serif;
}

.left-panel {
    width: 50%;
    background-color: #002140;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 40px;
}

.left-panel h1 {
    font-weight: bold;
    margin-top: 20px;
    line-height: 1.5;
    font-weight: bold;
    font-size: 45px;
}

.efeito {
    position: absolute;
    opacity: 0.8;
    pointer-events: none;
    color: #ffffff;
}

.efeito-1 {
    top: 0;
    left: 0;
    width: 190px;
    transform: translate(-75px);
}

.efeito-2 {
    top: 0px;
    right: 10;
    width: 200px;
    transform: translate(400px, -80px);
}

.efeito-3 {
    bottom: 0;
    left: 0;
    width: 50px;
    transform: translate(10px, -10px);
}

.efeito-4 {
    bottom: 0;
    right: 250px;
    width: 500px;
    transform: translate(-700px, 0px);
}

.logo-img {
    height: 210px;
    margin-bottom: 20px;
}

.right-panel {
    width: 50%;
    background-color: #f8f9fa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.login-form {
    width: 100%;
    max-width: 450px;
}

.input-large {
    height: 50px;
    font-size: 16px;
    padding-left: 15px;
    background-color: #eaf1fd;
    border: 1px solid #cfd7e0;
    border-radius: 8px;
}

.input-large:focus {
    border-color: #003b66;
    outline: none;
    box-shadow: 0 0 0 0.15rem rgba(0, 59, 102, 0.25);
}

.btn-login {
    background-color: #003b66;
    color: white;
    height: 50px;
    border-radius: 8px;
    font-weight: bold;
    border: none;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #002c50;
    color: white;
    transition: .65s;

}

label {
    font-weight: 500;
    margin-bottom: 8px;
}
